@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<GroupedExperienceAndCategory>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-12">
            <div class="cv-header-border">
                <h6 class="cv-header printable-text-header-size">@item.Name</h6>
            </div>
            @foreach (var exp in item.Experiences)
            {
        <div class="row section">
            <div class="col-md-12">
                <p class="education-table-title printable-text-normal-size">
                    @Html.DisplayFor(modelItem => exp.Title)
                </p>
            </div>
            <div class="col-md-12">
                <p class="education-table-company printable-text-normal-size">
                    @Html.DisplayFor(modelItem => exp.Company)
                </p>
            </div>
            <div class="col-md-12">
                <p class="education-table-year printable-text-normal-size">
                    @Html.DisplayFor(modelItem => exp.FullDate)
                </p>
            </div>
            @{
                if (!string.IsNullOrEmpty(exp.Description))
                {
                    <div class="col-md-12">
                        <p class="education-table-description printable-text-normal-size">
                            @Html.DisplayFor(modelItem => exp.Description)
                        </p>
                    </div>
                }

            }
            @{
                if (!string.IsNullOrEmpty(exp.Website))
                {
                    <div class="col-md-12">
                        <p class="education-table-description printable-text-normal-size">
                            <a href="@exp.Website">@exp.Website</a>
                        </p>
                    </div>
                }

            }

        </div>
            }
        </div>
    </div>




}
